{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "IE 11"],
        "node": "current"
      }
    }],
    "react",
    "stage-3"
  ],

  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "components": "components",
        "containers": "containers",
        "models": "models"
      },
      "extensions": [".js", ".jsx", ".json"]
    }]
  ],

  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
